<div class="ts-client{{#unless userslug}} ts-client-gray{{/unless}}" id="ts-client-{{ clid }}"{{#if userslug}} data-userlink="user/{{ userslug }}"{{/if}}>
	{{#each prefix}}
		<div class="ts-prefix {{ this }}">1&nbsp;</div>
	{{/each}}

	<div class="ts-client-flag {{ flag }}">&nbsp;</div>

	<div class="ts-client-header">
		{{ nick }}
	</div>

	{{#if country}}
		<div class="ts-client-info" style="
			background: url( '{{ imagesPath }}countries/{{ country }}.png' ) no-repeat center center;
		">&nbsp;</div>
	{{/if}}

	{{#if iconid}}
		<div class="ts-client-info" style="
			background: url( '{{ imagesPath }}icons/icon_{{ iconid }}' ) no-repeat center center;
		">&nbsp;</div>
	{{/if}}

	{{#each serverGroups}}
		{{#if this.iconid}}
			<div class="ts-client-info" style="
				background: url( '{{ ../../imagesPath }}icons/icon_{{ this.iconid }}' ) no-repeat center center;
			">&nbsp;</div>
		{{/if}}
	{{/each}}

	{{#if channelGroup}}
		{{#if channelGroup.iconid}}
			<div class="ts-client-info" style="
				background: url( '{{ imagesPath }}icons/icon_{{ channelGroup.iconid }}' ) no-repeat center center;
			">&nbsp;</div>
		{{/if}}
	{{/if}}
</div>