<div class="ts-client{{#unless userslug}} ts-client-gray{{/unless}}" id="ts-client-{{ clid }}"{{#if userslug}} data-userlink="user/{{ userslug }}"{{/if}}>
	{{#each prefix}}
		<div class="ts-prefix {{ this }}">1&nbsp;</div>
	{{/each}}

	<div class="ts-client-flag {{ flag }}">&nbsp;</div>

	<div class="ts-client-header">
		{{ nick }}
	</div>

	{{#if client_country}}
		<div class="ts-client-info" style="
			background: url( '{{ iconPath }}countries/{{ client_country }}.png' ) no-repeat center center;
		">&nbsp;</div>
	{{/if}}

	{{#if client_servergroups}}
		{{#each client_servergroups}}
			<div class="ts-client-info" style="
				background: url( '{{ ../iconPath }}servergroups/{{ this }}.png' ) no-repeat center center;
			">&nbsp;</div>
		{{/each}}
	{{/if}}

	{{#if client_channel_group_id}}
		<div class="ts-client-info" style="
			background: url( '{{ iconPath }}channelgroups/{{ client_channel_group_id }}.png' ) no-repeat center center;
		">&nbsp;</div>
	{{/if}}
</div>
